<h1>Tugas Dasar Pemrograman Sesi 3</h1>

<h3>1. Jenis tipe data beserta contohnya pada bahasa pemrograman python</h3>

1. `Boolean`, menyatakan benar yaitu True(1) dan salah yaitu False (0)
2. `String`, menyatakan karakter atau kalimat yang berupa huruf, angka yang (diapit oleh tanda " atau ')
3. `Integer`, Menyatakan bilangan bulat contohnya 25 atau 109
4. `Float`, Menyatakan bilangan yang mempunyai koma contohnya 3.14 atau 0.99
5. `Hexadecimal`, Menyatakan bilangan dalam format heksa (bilangan berbasis 16) contohnya 9a, fa, dan 1d3
6. `Complex`, Menyatakan pasangan angka real dan imajiner contohnya 1 + 5j
7. `List`, Data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah contohnya['xyz', 786, 2.23]
8. `Tuple`, Data untaian yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah contohnya('xyz', 768, 2.23)
9. `Dictionary`, Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai {'nama': 'aldo','id':2}

In [4]:
#tipe data Boolean
tipeDataBoolean = True
print(tipeDataBoolean, type(tipeDataBoolean))

#tipe data String
tipeDataString = "Hii"
print(tipeDataString, type(tipeDataString))

#tipe data Integer
tipeDataInteger = 1234567890
print(tipeDataInteger, type(tipeDataInteger))      

#tipe data Float
tipeDataFloat = 3.14
print(tipeDataFloat, type(tipeDataFloat))      

#tipe data Hexadecimal
tipeDataHexadecimal = 0xfff
print(tipeDataHexadecimal, type(tipeDataHexadecimal))      

#tipe data Complex
tipeDataComplex = 5j
print(tipeDataComplex, type(tipeDataComplex))      

#tipe data List
tipeDataList = [1, "2", 123]
print(tipeDataList, type(tipeDataList))      

#tipe data Tuple
tipeDataTuple = (0, 1, 2, 3, 4, 5)
print(tipeDataTuple, type(tipeDataTuple))
      
#tipe data Dictionary
tipeDataDictionary = {"nama":"hendry", "kelas": "TI22H"}
print(tipeDataDictionary, type(tipeDataDictionary))

True <class 'bool'>
Hii <class 'str'>
1234567890 <class 'int'>
3.14 <class 'float'>
4095 <class 'int'>
5j <class 'complex'>
[1, '2', 123] <class 'list'>
(0, 1, 2, 3, 4, 5) <class 'tuple'>
{'nama': 'hendry', 'kelas': 'TI22H'} <class 'dict'>

<h3>2. Buat komentar nama, NIM, Nomor Telepon</h3>

In [1]:
print("Muhamad Hendry Irawan Ramadhan")
print("20220040080")
print("085721430324")

Muhamad Hendry Irawan Ramadhan
20220040080
085721430324

<h3>3. Latihan Penjumlahan dan Pengurangan</h3>

In [2]:
a = 5000
b = 2000
c = 200

a = a + 500
b = b + 500
hasil = a+b-c
print(hasil)

7800

<h3>4.Mencari Keliling Lingkaran dan Kubus</h3>

In [3]:
# Program menghitung keliling lingkaran dan kubus

# Keliling lingkaran
print("MENGHITUNG KELILING LINGKARAN")
r = float(input("masukan nilai r: "))
phi = 3.14
keliling_lingkaran = 2 * phi * r
print(f"keliling lingkaran: {keliling_lingkaran:.2f}\n")

# Menghitung luas Kubus
print("=" * 30)
# luas kubus
print("\nMENGHITUNG LUAS KUBUS")
sisi = int(input("Masukan nilai sisi: "))
luas_kubus = sisi**3
print(f"Luas Kubus: {luas_kubus}")

MENGHITUNG KELILING LINGKARAN
masukan nilai r: 3.14
keliling lingkaran: 19.72

==============================

MENGHITUNG LUAS KUBUS
Masukan nilai sisi: 3
Luas Kubus: 27